<html>
<head>
    <title>Intro</title>
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='css/style.css')}}" />
  	<!-- Requires jQuery -->
	<script src="{{ url_for('static', filename='js/jquery.min.js')}}" type="text/javascript"></script>

</head>
<body>
    <section class="content">
        <fieldset id="fieldset_question_0" class="container_radio_buttons">
        <h3>Data handling policy</h3>
                <p>In this experiment, we also ask you general questions on your experience as a developer; none of these questions will be mandatory.</p>
			          <p>Please do not share personal and/or sensitive information in an open question you will find in the experiment. Should this happen, we are going to remove your answer from the final dataset.</p>
			          <p>Your answers are anonymized to the best of our capabilities. Moreover, the IP address from which you complete the experiment is not saved.</p>
                <p>You can withdraw from the experiment at any moment. However, even under your request, we cannot delete your record once you start the experiment because we cannot retrieve your record due to the aforementioned anonymized data collection.</p>
			          <p>This study uses servers hosted at UZH to run the experiment and archive the data once the study is completed.
			Therefore, your data is only stored internally at UZH and is protected by strict privacy laws.</p>

			<p>All the data is used for research purposes only; the data will not be sold or privately shared with third parties.</p>

			<p>The data handling is under the responsibility of UZH.</p></div>
        </fieldset>
    </section>
</body>
</html>
